body{
    background-color: cadetblue;
    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
    color: yellow;
    text-transform: uppercase;
}

hr{
    width: 50%;
}

p{
    text-align: justify;
    background-color: azure;
    border: 10px solid yellow;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}